[user]
	name = danishprakash
	email = grafitykoncept@gmail.com

[core]
	editor = /usr/local/bin/nvim
	excludesfile = ~/.gitignore

[alias]
    open = "!f() { REPO_URL=$(git config remote.origin.url); open ${REPO_URL%%.git}; }; f"
    browse = !git open
    which = !git branch | rg
    l = log --oneline -n 15
    s = status -sb
    a = add
    cl = clone
    c = commit
    cm = commit -m
    ca = commit --amend
    can = commit --amend --no-edit
    cfp = !git commit --amend --no-edit && git push -f origin
    p = push origin
    pf = push -f origin
    num = log --pretty=oneline
    stash = !git stash
    staash = !git stash --include-untracked
    staaash = !git stash --all
    standup = !git log --all \
                       --author=prakashdanish \
                       --since='9am yesterday' \
                       --format=%s
[help]
	autoCorrect = -1
