[user]
	name = danishprakash
	email = grafitykoncept@gmail.com
	signingkey = 00C8C873955EB43F

[core]
	editor = /bin/nvim
	excludesfile = /home/danish/.gitignore
	page = nvim -R

[alias]
    open = "!f() { REPO_URL=$(git config remote.origin.url); open ${REPO_URL%%.git}; }; f"
    browse = !git open
    s = status -s
    a = add
    acp = !git add . && git commit --amend --no-edit && git push -f origin
    ch = checkout
    chb = checkout -b
    cm = commit -m
    cfp = !git commit --amend --no-edit && git push -f origin
    diffs = diff --indent-heuristic --minimal --color-words
    fr = !git fetch origin && git rebase origin/master
    hash = rev-parse --short HEAD
    l = log --pretty=format:\"%h %ad | %s [%an]\" --graph --date=short -n 15
    p = push origin
    pf = push -f origin
    stash = !git stash
    standup = log --all \
        --author=danishprakash \
        --since='9am yesterday' \
        --format=%s
[status]
	branch = false
[help]
	autoCorrect = -1
[push]
	default = current
[diff]
    tool = vimdiff
[commit]
    verbose = true      # viw more details(diff) while committing changes
	gpgsign = true
[http]
	cookiefile = /Users/danish/.gitcookies
