# macOS
.DS_Store
.AppleDouble
.LSOverride

# (n)vim
plugged/
undodir/
.netrwhist
[._]*.sw[a-z]
[._]sw[a-z]

# tags
tags

# go
*.o
*.a
*.so

# python
.venv
*.pyc
**/__pycache__

# tmux
tmux-*

# tmp dir
_tmp/
