[user]
	name = danishprakash
	email = danish.prakash@suse.com
	signingkey = 66820561C42B7C0C

[core]
	editor = /bin/nvim
	excludesfile = ~/.gitignore
    pager = cat

[alias]
    open = "!f() { REPO_URL=$(git config remote.origin.url); open ${REPO_URL%%.git}; }; f"
    browse = !git open
    s = status -s
    a = add
    acp = !git add . && git commit --amend --no-edit && git push -f origin
    ch = checkout
    chb = checkout -b
    cm = commit --signoff --message
    cfp = !git commit --amend --no-edit && git push -f origin
    udiff = diff --indent-heuristic --minimal --color-words
    diff = diff --no-pager
    fr = !git fetch origin && git rebase origin/master
    hash = rev-parse --short HEAD # helpful for cherry-picking
    l = log --pretty=format:\"%h %ad | %s [%an]\" --graph --date=short -n 15
    p = push origin
    pf = push -f origin
[status]
	branch = false
[help]
	autoCorrect = -1
[push]
	default = current
[diff]
    tool = vimdiff
[commit]
    verbose = true      # viw more details(diff) while committing changes
	gpgsign = true
[http]
	cookiefile = ~/.gitcookies
